:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

.content {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  gap: 2em;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #191414;
}

.search-container {
  background-color: #646cff;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.search-bar {
  display: flex;
  width: 50%;
  height: 50px;
  font-size: 1.5em;
  border: 2px solid #ffffff;
  border-radius: 45px;
  outline: none;
  margin-bottom: 10px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: left;
  font-size: 1em;
  outline: none;
}

.controls {
  display: flex;
  gap: 1em;
  padding: 1em;
}
.btn {
  border: none;
  display: flex;
  background-color: #1db954;
  color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  gap: 10px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  align-items: center;
  line-height: 1;
  font-size: 20px;
  border: none;
}

.animation-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 40px;
  width: 80%;
  height: 100%;
  background-color: transparent;
}
.song-holder {
  position: absolute;
  background-color: #535bf2;
  border-radius: 20px;
  bottom: 0;
  left: 0;
}
.album-art {
  width: 104.29px;
  height: 104.29px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 20px 20px 0 0;
}
.song-details {
  text-align: center;
  font-size: 10px;
}
.animation-rendering-box {
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 20px;
}
.music-player {
  flex: 0 0 25%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  bottom: auto;
}

.timer-container {
  width: 100%;
  height: 25px;
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 12px;
}

.progress-bar {
  height: 30%;
  display: flex;
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
  width: 40%;
  border-radius: 15px;
  background-color: #ffffff;
}

#elapsed-time {
  position: relative;
  color: #ffffff;
  font-size: 1em;
}
#end-time {
  position: relative;
  color: #ffffff;
  font-size: 1em;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
